body {
    text-align: center;
    margin: 0 auto;
    max-width: 1200px;
    justify-content: center;

    }

h4 {
    color: white;   
    text-align: center;         
    font-family: Source Sans Pro;
    font-size: 20px;
    width: 91px;
    height: 16px;
    padding-left: 152px;
    font-weight: 600;
    letter-spacing: 2px;
    padding-top: 45px;
    margin: 0;
    text-transform: uppercase;
}

.menubutton {
    display: none;
   
}
.header1 {
    
    color: #FFF;
    font-family: Oswald;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    margin-top: 0px;
    }

#firstpage {
    
    width: 1200px;
    height: 800px;
    background-image: url("../file\ and\ assets/background1.png");
    background-size: 1315px 822px;
    background-repeat: no-repeat;
    background-position: center;
    /*margin-bottom: -100px;*/
    }

.lorem1 {
    color: rgba(255, 255, 255, 0.70);   
    text-align: center;         
    font-family: Source Sans Pro;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;  
    margin-top: 42px;
    }

.logo1 {
    width: 63px;
    height: 63px;
    top: 252px;
    left: 569px;    
    padding-top: 274px;
    }

main {
    background: #eee;
    width: 1200px;
    height: 700px;
    flex-shrink: 0;
    /*margin-bottom: -100px;*/
    margin-top: 0px;
}   
.headerp2 {
    color: #464547;
    text-align: center;
    font-family: Oswald;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    padding-top: 87px;
    margin-top: 0px;

        }
.subheaderp2 {
        color: #666;
        text-align: center;
        font-family: Source Sans Pro;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        margin-top: 40px;
        }
        
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 83px; 
   
}

.gridp1  {
    color: #666;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    width: 408px;
    height: 172px;
    margin: 0px;
    text-align: center;
    padding-left: 150px;
    }

    .gridp2  {
        color: #666;
        text-align: center;
        font-family: Source Sans Pro;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        width: 416px;
        height: 172px;
        margin: 0px;
        text-align: center;
        padding-right: 143px;
        }
    

.rectangular-button {
    background-color: #55C2D8;
    color: #FFF;
    padding-left: 18px;
    padding-right: 17px;
    padding-top: 5px;   
    padding-bottom: 6px;
    border: none;  
    border-radius: 10px;
    margin-top: 44px;
    /*margin-bottom: 98px;*/  
    cursor: pointer;
                    }
.rectangular-button:hover { 
    background-color: blue; 
                      }

.learn-more { 
    width: 1200px;
    height: 666px;
    background-image: linear-gradient(rgba(140, 80, 42, 0.300), rgba(167, 160, 190, 0.685)), url("../file\ and\ assets/background2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #8C4F2A;  
    background-blend-mode: overlay;
    /*margin-top: -100px;*/ 
    }

.video-header {
    color: #FFF;
    text-align: center;
    font-family: Oswald;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    padding-top: 84px;
    margin-top: 0px;
            }
.playbutton {     
        width: 150px;
        height: 150px;
        background-image: url("../file\ and\ assets/play.svg");
        background-size: cover;
        border-radius: 50%;
        border: none;
        padding-top: 53px;
            }

.last-p {
        color: #FFF;
        text-align: center;
        font-family: Source Sans Pro;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        padding-top: 70px;
        margin: 0px;
        }   
footer {
        width: 1200px;
        height: 170px;
        flex-shrink: 0;
        background-color: #464547;;
        text-align: left;
        /*padding-left: 140px;*/    
        }
.smallogo {
        width: 20px;
        height: 20px;
        margin-top: 19px;
        margin-left: 145px;
     }
h2    {
    color: #FFF;
    font-family: Source Sans Pro;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; 
    letter-spacing: 3.6px;
    text-transform: uppercase;
    padding-left: 181px;
    margin-top: -20px;
        }
div {
    color: rgba(255, 255, 255, 0.40);
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    
    }
footer a {
    color: rgba(255, 255, 255, 0.40);
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    margin-bottom: 140px;
}

.flex-container {
    display: flex;
    width: 395px;
    height: 22px;
    flex-shrink: 0;
    position: absolute;
    top: 49px;
    left: 700px;
    margin: 0px;

}
ul {
    display: inline-flex;
    color: white;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}

li a{
    color: #FFF;
font-family: Source Sans Pro;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 16px; 
letter-spacing: 2.8px;
text-transform: uppercase;
text-decoration: none;
}

.grid-footer {
    display: grid;
    grid-template-columns: 362px 480px 359px;
    grid-gap: 0;
}

div span {
    width: 230px;
    height: 22px;
    position: relative;
    bottom: -78px;
    
}

.gridf2 div {
    width: 174px;
    height: 33px;
    margin-top: 22px;
}

div a {
    width: 142px;
    height: 22px;
    list-style-type: none;
    position: relative;
    bottom: -25px;
}

@media screen and (max-width: 500px) {
        body {
            text-align: center;
            
        }
        h4 {
            width: 91px;
            height: 13.241px;
            position:relative;
            left: 12%;
            top: 7%;
            padding: 0;
        }
        nav {
            display: none;
        }
         
        #firstpage { 
            width: 480px;
            justify-content: center;
        }

        .menubutton { 
            display: block;
            background-image: url("../file\ and\ assets/menu.svg");
            color: white;
            background-size: contain;
            background-color: transparent;
            width: 22px;
            height: 22px;
            position: absolute;
            right: 25px;
            top: 57px;
        }

        main {
          
            max-width: 480px;
            height: 990px;
        }


        
        .headerp2 {
            width: 480px;
            height: 261px;
            padding-top: 65px;
            display: flex;
            justify-content: center;
        }
        .subheaderp2 {
            margin-top: 0;
            margin-bottom: 15px;
        }
        .grid-container {
            grid-template-columns: 1fr;
            gap: 15px   ;
        }

        .gridp1 {
            display: flex;
            justify-content: center;
            width: 445px;
            height: 183px;
            flex-shrink: 0;
            padding: 0;
        }

        .gridp2 {
            display: flex;
            justify-content: center;
            width: 430px;
            height: 129px;
            flex-shrink: 0;
        }
        .learn-more {
            width: 480px;
            height: 637px;
        }

        .last-p {
        padding-left: 7%;
        width: 396.316px;
        height: 102px;
        }
        .grid-footer {
            grid-template-columns: 1fr;
            height: 292px;
        }
        .gridf1 {
            width: 92px;
            height: 16px;
            padding-top: 20px;
        }    
        .gridf2 div{
            text-align: center;
            width: 174px;
            height: 33px;
            position: relative;
            left: 11%;
        }
        div a {
            width: 142px;
            height: 22px;
            position: relative;
            left: 13%;
        }
        div span {
            width: 243px;
            height: 20px;
            position:relative;
            bottom: 12px;
            left: 9%;

        }
    }